/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

#define VLUP C_VOL_UP
#define VLMT C_MUTE
#define VLDN C_VOL_DN
#define MNXT C_NEXT
#define MPLY C_PP
#define MPRV C_PREV

#define BTP BT_SEL
#define BTD BT_CLR

#define rgb rgb_ug
#define RTOG RGB_TOG

&mt {
    tapping_term_ms = <200>;
};

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
    &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                                 &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp GRAVE
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T                                  &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &kp LSHFT &kp A     &kp S     &kp D     &kp F     &kp G                                  &kp H     &kp J     &kp K     &kp L     &kp SEMI  &mt RSHFT SQT
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐       ┌──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &kp LCTRL &kp Z     &kp X     &kp C     &kp V     &kp B     &mo ADJ           &mo ADJ    &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &mt RSHFT BSLH
// └─────────┴─────────┴┬────────┴┬────────┴┬────────┴┬────────┴─────────┴┐     ┌┴──────────┴────────┬┴────────┬┴────────┬┴────────┬┴─────────┴─────────┘
                         &kp MINUS &kp LBKT  &kp LALT    &lt LWR SPACE                &lt RSE ENTER   &kp RGUI  &kp RBKT  &kp EQUAL
//                      └─────────┴─────────┴─────────┴───────────────────┘     └────────────────────┴─────────┴─────────┴─────────┘
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		lower_layer {
			bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
    &kp F12   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5                                 &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &none     &kp UP     &none    &kp PG_UP &none                                  &kp VLUP  &kp MNXT  &none     &none     &none     &kp DEL
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &kp LEFT  &kp DOWN  &kp RIGHT &kp HOME  &kp END                                &kp VLMT  &kp MPLY  &none     &none     &none     &none
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐       ┌──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &none     &none     &none     &kp PG_DN &none     &mo ADJ           &mo ADJ    &kp VLDN  &kp MPRV  &none     &none     &none     &trans
// └─────────┴─────────┴┬────────┴┬────────┴┬────────┴┬────────┴─────────┴┐     ┌┴──────────┴────────┬┴────────┬┴────────┬┴────────┬┴─────────┴─────────┘
                         &mo ADJ   &trans    &kp LGUI         &trans                    &trans        &kp RALT  &trans    &mo ADJ 
//                      └─────────┴─────────┴─────────┴───────────────────┘     └────────────────────┴─────────┴─────────┴─────────┘
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		raise_layer {
			bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
    &kp F12   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5                                 &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &none     &none     &none     &none     &none                                  &none     &kp CAPS  &kp INS   &none     &kp PSCRN &kp DEL
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &none     &none     &none     &none     &none                                  &none     &none     &none     &none     &none     &none
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐       ┌──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &none     &none     &none     &none     &none     &mo ADJ           &mo ADJ    &none     &none     &none     &none     &kp BSLH  &trans
// └─────────┴─────────┴┬────────┴┬────────┴┬────────┴┬────────┴─────────┴┐     ┌┴──────────┴────────┬┴────────┬┴────────┬┴────────┬┴─────────┴─────────┘
                         &mo ADJ   &trans    &kp LGUI         &trans                    &trans        &kp RALT  &trans    &mo ADJ 
//                      └─────────┴─────────┴─────────┴───────────────────┘     └────────────────────┴─────────┴─────────┴─────────┘
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};

		adjust_layer {
			bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                            ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
	&bt BTD   &bt BTP 0 &bt BTP 1 &bt BTP 2 &bt BTP 3 &bt BTP 4                              &bt BTP 4 &bt BTP 3 &bt BTP 2 &bt BTP 1 &bt BTP 0 &bt BTD
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &none     &none     &none     &none     &none                                  &none     &none     &none     &none     &none     &none
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                            ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &trans    &none     &none     &none     &rgb RTOG &none                                  &none     &rgb RTOG &none     &none     &none     &none
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐       ┌──────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
    &none     &none     &none     &none     &none     &none     &mo ADJ           &mo ADJ    &none     &none     &none     &none     &none     &none
// └─────────┴─────────┴┬────────┴┬────────┴┬────────┴┬────────┴─────────┴┐     ┌┴──────────┴────────┬┴────────┬┴────────┬┴────────┬┴─────────┴─────────┘
                         &trans    &reset    &bootloader      &trans                    &trans     &bootloader  &reset    &trans 
//                      └─────────┴─────────┴─────────┴───────────────────┘     └────────────────────┴─────────┴─────────┴─────────┘
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
		};
	};
};
